*.jar
*.war
log/
*.log*

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.*~
*~
.merge_file*

.DS_Store
._*
.Trashes

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/
